.service{
    background-color: rgb(1, 17, 17);
    color: white;
    border-radius: 13px
}
.service:hover{
    background-color: rgb(243, 231, 231);
    /* box-shadow: rgb(65, 43, 3); */
    color: black;
    cursor: pointer;
}
.service img{
    width: 100%;
}